<div class="container">
  <% @users.each do |u| %>
    <div class="user-display">
      <img src="<%= u.photo.url %>" title="<%= u.name %>">
      <p><%= u.name %></p>
    </div>
  <% end %>
  <br>
  <a href="/new">Add User</a>
</div>
