<div class="container">
  <% @users.each do |u| %>
    <div class="user-display">
      <img src="<%= user.photo.url %>" title="<%= user.name %>">
      <p><%= user.name %></p>
    </div>
  <% end %>
  <br>
  <a href="/new">Add User</a>
</div>
