<div class="container">
  <form enctype="multipart/form-data" action="/" method="POST">
    <label>Name: <input type="text" name="user[name]"></label>
    <br>
    <label>Photo: <input type="file" name="user[photo]"></label>
    <br>
    <input type="submit">
  </form>
</div>